

.intro_topic{
    z-index: 4; 
    font-family: '華康細圓體';
    font-size: 3vw;
    color: rgb(159, 116, 60);
    position: relative;
    top:50px;
    height: 200px;
}

Button{
    max-width: 1520px;
}

.intro{
    max-width: 1520px;
}


#play img{
    position: absolute;
    max-width: 100%;
    margin: 0px 0px;
    top: 240%;
    left: 0%;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#play img:nth-of-type(2):hover{
    opacity: 0;
}


#visit img{
    position: absolute;
    max-width: 100%;
    margin: 0px 0px;
    top: 110%;
    left: 0%;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#visit img:nth-of-type(2):hover{
    opacity: 0;
}

#explore img{
    position: absolute;
    max-width: 100%;
    top: 370%;
    left: 0%;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#explore img:nth-of-type(2):hover{
    opacity: 0;
}

#lesson img{
    position: absolute;
    max-width: 100%;
    top: 500%;
    left: 0%;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#lesson img:nth-of-type(2):hover{
    opacity: 0;
}