

h1{
    z-index: 4; 
    font-family: 'Microsoft YaHei Light';
    font-size: 48px;
    color: rgb(159, 116, 60);
    position: relative;
    top:50px;
    height: 200px;
}

play img{
    position: absolute;
    width: 100vw;
    margin: 0px 0px;
    top: 1390px;
    left: 0%;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

play img:nth-of-type(2):hover{
    opacity: 0;
}


visit img{
    position: absolute;
    width: 100vw;
    margin: 0px 0px;
    top: 110%;
    left: 0%;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

visit img:nth-of-type(2):hover{
    opacity: 0;
}

explore img{
    position: absolute;
    width: 100vw;
    top: 2190px;
    left: 0%;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

explore img:nth-of-type(2):hover{
    opacity: 0;
}

lesson img{
    position: absolute;
    width: 100vw;
    top: 2990px;
    left: 0%;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

lesson img:nth-of-type(2):hover{
    opacity: 0;
}