.know_topic{
    z-index: 4; 
    font-family: '華康細圓體';
    font-size: 9vh;
    position: absolute;
    color: rgb(45, 45, 45);
    top:1.5vw;
    left: 39%;
    line-height: 10vh;
    text-align: left;
}

.nope{
    z-index: 4; 
    font-family: '華康細圓體';
    font-size: 3.5vh;
    position: absolute;
    color: rgb(45, 45, 45);
    top:17vw;
    left: 28vw;
    line-height: 7vh;
    text-align: center;
}

.question{
    font-family: 'Microsoft Yi Baiti';
    font-size: 27vh;
    position: absolute;
    color: rgb(196, 29, 29);
    top:-7vw;
    left: 27%;
}

#topic_container{
    position: relative;
    top: 0;
    height: 500px;
   
}
#know{
    max-width: 100%;
}


#know img{
    position: relative;
    max-width: 100%;
    margin: -5px 0px;
    left: 0%;
}

.know_field{
    max-width: 100%;
    position: relative;
}

.Field{
    position: absolute;
    
}

.field_img{
    position: absolute;
    margin: 5 0;
}

.know_member{
    max-width: 1920px;
    height: 100vh;
    position: relative;
    background-color: rgb(232, 184, 55)
}

button{
    position: absolute;
    bottom: 5%;
    background-color: rgb(45, 45, 45);
    border-radius: 50px;
    width: 1vw;
    height: 1vw;
    border: none;
}

.fakeButton{
    position: absolute;
    width: 0.5vw;
    height: 0.5vw;
    bottom: 5.5%;
    left: 50.26%;
    background-color: white;
    border-radius: 50px;
    -webkit-transition: left 0.4s ease-in-out;
    -moz-transition: left 0.4s ease-in-out;
    -o-transition: left 0.4s ease-in-out;
    transition: left 0.4s ease-in-out;
}






