.App {
  text-align: center;
}

.App-logo {
  height: 8vw;
  position: absolute;
  top: 15%;
  left: 5%;
}

.header-pic {
  align-items: center;
  justify-content: center;
  width: 35vw;
  top:0px; 
}

header{
  position: relative;
  top:0px;
  background-color: rgb(159, 116, 60);
  width: 100vw;

}


Nav{
  height: 50px;
  background-color:white;
}


.ContactBar{
  position: absolute;
  bottom: 0px;
}

body{
  background-color: #F4E4C3
}

