.container{
    position: absolute;
    width: 10vw;
    height: 10vw;
    border-radius:10px;
    font-family: '華康中黑體'
}

.topic_img{
    position: absolute;
    width: 70%;
    border-radius:10px;
}

.back{
    position: absolute;
    background-color: rgba(243, 243, 243, 0.9);
    border-radius: 10px;
    width: 8vw;
    height: 2vw;
    font-family: '華康細黑體';
    -webkit-transition: width 1s ease-in-out,height 1s ease-in-out;
    -moz-transition: width 1s ease-in-out,height 1s ease-in-out;
    -o-transition: width 1s ease-in-out,height 1s ease-in-out;
    transition: width 1s ease-in-out,height 1s ease-in-out;
}

.topic{
    font-family: '華康中黑體';
    position: absolute;
    font-size: 1.5vw;
    color:rgb(64, 34, 15);
}

.text{
    font-family: '華康細黑體';
    position: absolute;
    top:11%;
    left:10%;
    width: 25vw;
    opacity: 0; 
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.container:hover > .back{
    width: 35vw;
    height: 15vw;

}


.back:hover > .text{
    opacity: 1;
}

.content{
    font-size: 1vw;
    line-height: 1.5vw;
    text-align: left;
}