.container{
    position: absolute;
    background-color: white;
    width: 10vw;
    height: 20vh;
    border-radius:10px;
    font-family: '華康中黑體'
}

.back{
    position: absolute;
    background-color: rgba(243, 243, 243, 0.9);
    border-radius: 10px;
    width: 10vw;
    height: 5vh;
    font-family: '華康細黑體';
    -webkit-transition: width 1s ease-in-out,height 1s ease-in-out;
    -moz-transition: width 1s ease-in-out,height 1s ease-in-out;
    -o-transition: width 1s ease-in-out,height 1s ease-in-out;
    transition: width 1s ease-in-out,height 1s ease-in-out;
}

.topic{
    font-family: '華康中黑體';
    position: absolute;
    font-size: 1.5vw;
}

.text{
    font-family: '華康細黑體';
    opacity: 0; 
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.container:hover > .back{
    width: 40vw;
    height: 40vh;
}


.back:hover > .text{
    opacity: 1;
}