body{
    position: relative;
    top:0px;
    bottom: 0px;
    background-color: #F4E4C3
  }

.Pin{
    width: 3vw;
    position: absolute;
    top:16%;
    left: 16%;
    animation-name: jump;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }
  
  .TimeBar{
    width: 71.5vw;
    position: relative;
    top:35%;
  }
  
  
  #routine{
    position: relative;
    top: -20px;
    height: 80vh;
    background-color: #F4E4C3;
  }

  .cover{
    position: relative;
    top: -100px;
    bottom: 0px;
    max-width: 1920px;
  }

  .cover img{
    position: relative;
    max-width: 100%;
    left: 0%;
    height: auto;
  }

  .form{
    font-size: 1.5vw;
    position: absolute;
    top:63%;
    left: 29%;
    color: white;
    text-decoration: underline;
    font-family: '華康細黑體';
  }

  .pay{
    font-size: 1.5vw;
    position: absolute;
    top:63%;
    left: 40%;
    color: white;
    text-decoration: underline;
    font-family: '華康細黑體';
  }

  @keyframes jump{
    0%{
      top:22%;
    }
  
    50%{
      top:25%;
    }
  
    100%{
        top:22%;
    }
  }