

.Pin{
    width: 3vw;
    position: absolute;
    top:16%;
    left: 36.8vw;
    animation-name: jump;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }
  
  .TimeBar{
    width: 71.5vw;
    position: relative;
    top:35%;
  }
  
  .list{
    position: relative;
    width: 50vw;
    border-radius: 15px;
    top:-10vw;
  }
  
  #routine{
    position: relative;
    top: 0vw;
    height: 40vw;
    background-color: #F4E4C3;
  }

  .cover{
    position: relative;
    top: 20%;
    max-width: 100%;
  }

  .cover img{
    position: relative;
    width: 100%;
    left: 0%;
    height: auto;
    margin: -5px 0;
  }

  .form{
    font-size: 1.5vw;
    position: absolute;
    top:63%;
    left: 29%;
    color: white;
    text-decoration: underline;
    font-family: 'Noto Sans TC';
    font-weight:300;
  }

  .pay{
    font-size: 1.5vw;
    position: absolute;
    top:63%;
    left: 40%;
    color: white;
    font-weight:300;
    text-decoration: underline;
    font-family: 'Noto Sans TC';
  }

  @keyframes jump{
    0%{
      top:22%;
    }
  
    50%{
      top:25%;
    }
  
    100%{
        top:22%;
    }
  }