
.intro_topic{
    z-index: 4; 
    font-size: 8vw;
    position: relative;
    top: 38vw;
    left: 0%;
    height: 15px;
    font-family: 'Noto Sans TC';
    font-weight:400;
    color: rgb(159, 116, 60);
}

.intro{
    position: relative;
    top:65vw;
    left:0px;
}


.visit img{
    position: relative;
    width: 100vw;
    margin: 0px 0px;
}

.play img{
    position: relative;
    width: 100vw;
    margin: -10px 0px;

}

.explore img{
    position: relative;
    width: 100vw;
    margin: 0px 0px;

}

.lesson img{
    position: relative;
    width: 100vw;
    margin: -10px 0px;

}
