.know_topic{
    z-index: 4; 
    font-family: 'Noto Sans TC';
    font-weight:600;
    font-size: 7vw;
    position: absolute;
    color: rgb(45, 45, 45);
    top:43vw;
    left: 34vw;
    line-height: 10vw;
    text-align: left;
}

.nope{
    z-index: 4; 
    font-family: 'Noto Sans TC';
    font-weight:400;
    font-size: 4vw;
    position: absolute;
    color: rgb(45, 45, 45);
    top:70vw;
    left: 22%;
    line-height: 5vw;
    text-align: center;
}

.question{
    font-family: 'Noto Sans TC';
    font-weight:500;
    font-size: 15vw;
    position: absolute;
    color: rgb(196, 29, 29);
    top:35%;
    left: 15vw;
}

#topic_container{
    position: relative;
    height: 100vw;
}

.pic_container img{
    position: relative;
    width: 100vw;
    margin: -5px 0px;
}

.know_field{
    position: absolute;
    width: 100vw;
}

.Field_container{
    position: relative;
    width: 100%;
    max-width: 100%;
    left: -50%;
    height: 440vw;
    background-color:rgb(64, 34, 15); 
}

.background{
    top:0%;
    left: 50vw;
    width: 100vw;
    position: absolute;
    height: 440vw;
    background-color:rgb(64, 34, 15);
}

.topic{
    position: absolute;
    top: 125px;
    left: 65%;
}

.item_container img{
    width: 25vw;
}

h4{
    border-radius: 10px;
    font-family: 'Noto Sans TC';
    font-weight:500;
    font-weight: none;
    background-color: white;
    height: 8vw;
    width: 22vw;
    line-height: 8vw;
    color:rgb(64, 34, 15);
}



.passengers{
    position: absolute;
    top: 30vw;
    left: 90%;
}
.passengers_topic{
    position: absolute;
    top: 53vw;
    left: 90%;
    font-size: 4vw;
    font-family: 'Noto Sans TC';
    font-weight:500;
}

.passengers_content{
    position: absolute;
    top: 75vw;
    left: 60%;
    color: white;
    font-family: 'Noto Sans TC';
    font-weight:100;
    width: 80vw;
    font-size: 3.5vw;
    line-height: 6vw;
    text-align: center;
}

.truck{
    position: absolute;
    top: 120vw;
    left: 90%;
}
.truck_topic{
    position: absolute;
    top: 140vw;
    left: 90%;
    font-family: 'Noto Sans TC';
    font-weight:500;
    font-size: 4vw;
}

.truck_content{
    position: absolute;
    top: 160vw;
    left: 60%;
    color: white;
    font-family: 'Noto Sans TC';
    font-weight:100;
    width: 80vw;
    font-size: 3.5vw;
    line-height: 6vw;
    text-align: center;
}

.network{
    position: absolute;
    top: 220vw;
    left: 89%;
}

.network_topic{
    position: absolute;
    top: 245vw;
    left: 90%;
    font-family: 'Noto Sans TC';
    font-weight:500;
    font-size: 4vw;
}

.network_content{
    position: absolute;
    top: 265vw;
    left: 60%;
    color: white;
    font-family: 'Noto Sans TC';
    font-weight:100;
    width: 80vw;
    font-size: 3.5vw;
    line-height: 6vw;
    text-align: center;
}

.tower{
    position: absolute;
    top: 330vw;
    left: 89%;
}
.tower_topic{
    position: absolute;
    top:355vw;
    left: 90%;
    font-family: 'Noto Sans TC';
    font-weight:500;
    font-size: 4vw;
}

.tower_content{
    position: absolute;
    top: 375vw;
    left: 60%;
    color: white;
    font-family: 'Noto Sans TC';
    font-weight:100;
    width: 80vw;
    font-size: 3.5vw;
    line-height: 6vw;
    text-align: center;
    
}

.know_member{
    position: relative;
    width: 100vw;
    background-color: rgb(232, 184, 55);
    height: 950vw;
}


.profile_topic{
    position: absolute;
    color: rgb(45, 45, 45);
    left: 11%;
    top:30px;
    font-family: 'Noto Sans TC';
    font-weight:400;
    font-size: 7vw;
}

.wrap_container{
    position: absolute;
    top:45vw;
}
