p{
    position: absolute;
}

.Pin{
  width: 3vw;
  position: absolute;
  top:51.5vw;
  left: 33.7vw;
  animation-name: jump;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
  
  .TimeBar{
    width: 90vw;
    position: relative;
    top:50vw;
    left: 15px;
  }
  
  

  cover img{
    position: relative;
    align-items: center;
    
    max-width:100%;
    max-height:100%;
    top: 350px;
    bottom: 0px;
  }

  cover a{
    position: relative;
    font-size: 18px;
    color: white;
    font-family: '華康中黑體';
  }

  .form{
    bottom: -225px;
    left: 0px;
  }

  .pay{
    bottom: -225px;
    left: 25px;
  }

  @keyframes jump{
    0%{
      top:51.5vw;
    }
  
    50%{
      top:53vw;
    }
  
    100%{
        top:51.5vw;
    }
  }