.App {
  text-align: center;
}

.App-logo {
  height: 150px;
  position: absolute;
  top: 50px;
  left: 0px;
}

.header-pic {
  align-items: center;
  justify-content: center;
  height: 250px;
  top:0px; 
}

header{
  background-color: rgb(159, 116, 60);
  height: 260px;
}

body{
  background-color: #F4E4C3;
}

Nav{
  height: 50px;
  background-color:white;
}

.contactBar{
  position: relative;
  top: 10px;
  height: 50px;
  background-color: #734C34;
}

.Pin{
  height: 70px;
  position: absolute;
  top:450px;
  left: 245px;
  animation-name: jump;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.TimeBar{
  height: 140px;
  position: relative;
  top:200px;
}

.Cover{
  position: relative;
  width: 1515px;
  top:500px;
}



@keyframes jump{
  0%{
    top:435px;
  }

  50%{
    top:460px;
  }

  100%{
      top:435px;
  }
}